  <!-- Footer Start -->
  <footer class="ct-footer footer-2">
    <div class="container">
      <div class="footer-widget">
        <ul class="social-media">
          <li> <a href="https://www.facebook.com/?locale=ru_RU"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="https://x.com/?lang=ru"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a href="https://www.pinterest.com/"> <i class="fab fa-pinterest-p"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p class="m-0">&copy; Copyright 2020 - <a href="#">AndroThemes</a> All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->