{% extends "base/base.html" %}

{% block content %}
<body style="margin-top: 100px; background-color: #f8f9fa;"> 
  {% include "base/header.html" %}
  <div class="container mt-5">
      <h1 class="display-4 mb-4" style="color: #343a40;">О нас</h1>
      <p class="lead" style="color: #6c757d;">Добро пожаловать на наш веб-сайт, посвященный рецензиям на рестораны и их блюда.</p>
      <p class="lead" style="color: #6c757d;">Мы создали этот сайт, чтобы помочь пользователям найти лучшие рестораны и блюда, оставлять свои отзывы и делиться впечатлениями с другими.</p>
      <p class="lead" style="color: #6c757d;">Здесь вы можете найти обзоры ресторанов, оценки блюд, фотографии и многое другое.</p>
      <p class="lead" style="color: #6c757d;">Наша цель - сделать ваше кулинарное путешествие приятным и незабываемым!</p>
  </div>
  {% include "base/footer.html" %}
</body>
{% endblock %}
