{% extends "base/base.html" %}

{% block content %}

<body style="margin-top: 100px;">
    {% include "base/header.html" %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-center">Выход</h1>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Вы успешно вышли.</p>
                        <p class="text-center"><a href="{% url 'login' %}" class="btn btn-primary">Войти снова</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html" %}
</body>
</html>

{% endblock  %}
